<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Rain | Coming Soon Style 1</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">
	<!-- Ico Font CSS -->
	<link rel="stylesheet" href="contact/css/icofont.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="contact/css/bootstrap.min.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="contact/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="contact/css/responsive.css">
	<!--[if lt IE 9 ]>
	<script src="js/modernizr-3.5.0.min.js"></script>
	<![endif]-->
</head>
<body class="bg-img body-bg">
	<div class="rain-area" data-background-image="" id="rainy-parent">
		<img src="contact/img/background.jpg" id="rainy-image" alt="">
	</div>
	<!--[if lte IE 9]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
	
	<!-- Preloader Starts -->
	<div class="preloader-wrap">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!--/Preloader Ends -->

	<!-- main container starts -->
	<div class="bg-img color-white main-container">
		
		<!-- Main Header Starts -->
		<header class="fixed fixed-top xs-no-positioning main-header">
			<div class="container-fluid">
				<div class="row clearfix">
					<div class="pull-right clearfix col-xs-6 exs-full-width">
						<div class="pull-right header-right">
							<ul class="list-inline social-icons">
								<li><a href="https://www.instagram.com/amirhoseyn__khabbazi" target="_blank"><i class="icofont icofont-social-instagram"></i></a></li>
								<li><a href="https://twitter.com/amir_hoseynkrkh" target="_blank"><i class="icofont icofont-social-twitter"></i></a></li>
								<li><a href="https://t.me/amirhoseyn_khabbazi" target="_blank"><i class="icofont icofont-social-telegram"></i></a></li>
								<!-- <li><a href="#" target="_blank"><i class="icofont icofont-social-gmail"></i></a></li> -->
							</ul>
						</div>
					</div><!-- /end col- -->

					<div class="col-xs-6 exs-full-width">
						<div class="logo">
							<!-- <a href="index.html"><img src="contact/img/logo.png" alt="Logo"></a> -->
						</div>
					</div><!-- /end col- -->
				</div><!-- /end row -->
			</div><!-- /end container-fluid -->
		</header>
		<!-- /Main Header Ends -->

		<!-- Main Body Starts -->
		<div class="fixed fixed-middle xs-no-positioning main-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="tab-container">

							<ul class="pull-left rect-1 tab-controller tab-style-one xs-no-positioning" role="tablist">
								<li role="presentation" class="active">
									<a href="#home" aria-controls="home" role="tab" style="font-size: large;" data-toggle="tab">خبرنامه</a>
								</li>

								<li role="presentation">
									<a href="#Sales_Request" aria-controls="contact" role="tab" style="font-size: large;" data-toggle="tab">درخواست فروشندگی</a>
								</li>

								<li role="presentation">
									<a href="#contact" aria-controls="contact" role="tab" style="font-size: large;" data-toggle="tab">ارتباط با ما</a>
								</li>

								<li role="presentation">
									<a href="#about" aria-controls="about" role="tab" style="font-size: large;" data-toggle="tab">درباره ما</a>
								</li>

								<li role="presentation">
									<a href="#" onclick="back()" aria-controls="about" role="tab" style="font-size: large;" data-toggle="tab">بازگشت</a>
								</li>

							</ul><!-- /tab controlls -->

							<div class="tab-content">

								<!-- Single tab content starts -->
								<div role="tabpanel" class="tab-pane fade in active text-center home-tab" id="home">
									<div class="tab-heading">
										<h1 class="primary-title">در خبرنامه ما عضو شوید</h1>
										<p class="text-light">با عضویت در خبرنامه ما اخبار سایت را دریافت کنید</p>
									</div><!-- /end tab-heading -->

									<div class="tab-body">
										<div class="padding-big countdown-timer">
											<input type="hidden" id="count-down-date" name="count-down-date" value="31 Dec, 2019 12:00:00">
											<h2 class="expired-text hidden">با عضویت محصولات جدید برای شما ارسال میگردد</h2>
											<!-- <ul class="list-inline count-down-list" id="countdown-boxes">
												<li class="gray-bg-1" id="years"><span class="years"></span><span>Years</span></li>
												<li class="gray-bg-1" id="months"><span class="months"></span><span>Months</span></li>
												<li class="gray-bg-1" id="days"><span class="days"></span><span>Days</span></li>
												<li class="gray-bg-1" id="hours"><span class="hours"></span><span>Hours</span></li>
												<li class="gray-bg-1" id="minutes"><span class="minutes"></span><span>Minutes</span></li>
												<li class="gray-bg-1" id="seconds"><span class="seconds"></span><span>Seconds</span></li>
											</ul> -->
										</div>
										<!-- /end countdown-timer -->

										<div class="subscribe-form">
											<h4>ایمیل خودرا وارد کنید</h4>
											<form action="#" class="form-inline">
												<input type="email" name="email" class="form-control btn-rounded" placeholder="آدرس ایمیل">
												<button type="button" class="btn btn-cyan btn-round">عوضیت</button>
											</form>
										</div><!-- /end subscribe-form -->
									</div><!-- /end tab-body -->
								</div>
								<!-- /Single tab content ends -->

								<!-- Single tab content starts -->
								<div role="tabpanel" class="tab-pane fade text-center contact-tab" id="Sales_Request">
									<div class="tab-heading">
										<h1 class="primary-title">درخواست فروشندگی</h1>
										<p class="text-light">جهت درخواست فروشندگی باید فیلد های زیر را پر نمایید</p>
									</div><!-- /end tab-heading -->

									<div class="tab-body">
										<div class="pt-70 contact-form">
											
												<!-- IF MAIL SENT SUCCESSFULLY -->
												<div id="sellerSucssev" style="display:none;font:bolder; font-size: xx-large; text-shadow: 0 0 5px #00ff22, 0 0 7px #000000;">درخواست شما با موفقیت ارسال شد.</div>
												<!-- IF MAIL SENDING UNSUCCESSFULL
												-->
												<div id="sellerError" style="display: none;font:bolder; font-size: xx-large; text-shadow: 0 0 5px #FF0000, 0 0 7px #000000;">لطفا همه فیلد ها را کامل پر نمایید</div>
												<div id="sellerRet" style="display: none;font:bolder; font-size: xx-large; text-shadow: 0 0 5px #FF0000, 0 0 7px #000000;">شما قبلا درخواست داده اید</div>
												<div class="pull-right form-field field-half-width">
													<i class="icofont icofont-user"></i>
													<input type="text" id="sellerName" name="name" class="form-control" placeholder="نام کامل ">
												</div>
												
												<div class="pull-left form-field field-half-width">
													<input type="number" id="sellerPhone" name="sellerPhone" class="form-control" placeholder="شماره موبایل">
													<i class="icofont icofont-envelope"></i>
												</div>

												
												<div class="pull-right form-field field-full-width">
													<textarea id="sellerMessage" dir="rtl" name="sellerMessage" class="form-control" placeholder="اطلاعات خود را بنویسید(آدرس، برند و ...)"></textarea>
												</div>
												<button type="button" onclick="sellerCheck()" id="submit" class="btn btn-cyan btn-big">ارسال</button>
											<!-- /end contact-form -->
										</div><!-- /end contact-form -->
									</div><!-- /end tab-body -->
								</div>
								<!-- /Single tab content ends -->
								<div role="tabpanel" class="tab-pane fade text-center contact-tab" id="contact">
									<div class="tab-heading">
										<h1 class="primary-title">ارتباط با ما</h1>
										<!-- <p class="text-light">Our exciting new website is coming soon! Check back later...</p> -->
									</div><!-- /end tab-heading -->

									<div class="tab-body">
										<div class="pt-70 contact-form">
											
												<!-- IF MAIL SENT SUCCESSFULLY -->
												<div id="Sucssev" style="display:none;font:bolder; font-size: xx-large; text-shadow: 0 0 5px #00ff22, 0 0 7px #000000;">درخواست شما با موفقیت ارسال شد.</div>
												<!-- IF MAIL SENDING UNSUCCESSFULL
												-->
												<div id="Error" style="display: none;font:bolder; font-size: xx-large; text-shadow: 0 0 5px #FF0000, 0 0 7px #000000;">لطفا همه فیلد ها را کامل پر نمایید</div>
												<div id="Ret" style="display: none;font:bolder; font-size: xx-large; text-shadow: 0 0 5px #FF0000, 0 0 7px #000000;">شما قبلا درخواست داده اید</div>
												<div class="pull-right form-field field-half-width">
													<i class="icofont icofont-user"></i>
													<input type="text" id="Name" name="name" class="form-control" placeholder="نام کامل ">
												</div>
												
												<div class="pull-left form-field field-half-width">
													<input type="number" id="Phone" name="Phone" class="form-control" placeholder="شماره موبایل">
													<i class="icofont icofont-envelope"></i>
												</div>

												
												<div class="pull-right form-field field-full-width">
													<textarea id="Message" dir="rtl" name="Message" class="form-control" placeholder="اطلاعات خود را بنویسید(آدرس، برند و ...)"></textarea>
												</div>
												<button type="button" onclick="Check()" id="submit" class="btn btn-cyan btn-big">ارسال</button>
											<!-- /end contact-form -->
										</div><!-- /end contact-form -->
									</div><!-- /end tab-body -->
								</div>
								<!-- Single tab content starts -->
								<div role="tabpanel" class="tab-pane fade about-tab" id="about">
									<div dir="rtl" class="tab-heading">
										<h2 class="primary-title">درباره ما</h2>
									</div><!-- /end tab-heading -->

									<div dir="rtl" class="tab-body">
										<p  style="font-size: larger;">وبسایت کینگ کاربت یک پلتفرم تجارت آنلاین تابلوفرش میباشد که در تلاش است محیطی بهتر و امن تر برای خرید و فروش تابلو فرش فراهم سازد.</p>
										<p style="font-size: larger;">کینگ کاربت با ارائه اکانت های شخصی به هر فروشنده و فراهم ساختن راه های ارتباطی خریدار با فروشنده، در تلاش است تا تنوع با کیفیت در اختیار خریدار قرار دهد</p>
										<p style="font-size: larger;"> و خریدی با کیفیت و قیمت بهتر را تجربه نمایید.</p>
										<p style="font-size: larger;">فروشندگان عزیز میتوانند از طرق پنل درخواست فروشندگی جهت دریافت اکانت برای فروش محصولات تابلو فرش خود با ما در ارتباط باشند.</p>
										<h3>کینگ کارپت: در دنیای خود زندگی کنید، در دنیای ما تجارت کنید</h3>
										<!-- <a  dir="rtl" href="#" class="readmore-link" data-toggle="modal" data-target="#aboutus" style="font-size: larger;">درباره من  <i class="icofont icofont-long-arrow-left"></i></a> -->
									</div><!-- /end tab-body -->
								</div>
								<!-- /Single tab content ends -->

							</div><!-- /tab-content -->
						</div>
					</div><!-- /end col-md-12 -->
				</div><!-- /end row -->
			</div><!-- /end container-fluid -->
		</div>
		<!-- /Main Body Ends -->

		<!-- /Main Footer Starts -->
		<!-- <footer class="fixed fixed-bottom xs-no-positioning main-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-content">
							<div class="pull-right footer-right">
								<ul class="list-inline rect-2 footer-menu">
									<li><a href="#" data-toggle="modal" data-target="#helpme">Help</a></li>
									<li><a href="#" data-toggle="modal" data-target="#privacy">Privacy</a></li>
									<li><a href="#" data-toggle="modal" data-target="#contactus">Contact</a></li>
									<li><a href="#" data-toggle="modal" data-target="#faq">FAQ</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer> -->
		<!-- /Main Footer Ends -->

	</div>
	<!-- /main container ends -->

	<!-- About Popup Content -->
	<div class="modal fade" id="aboutus" tabindex="-1" role="dialog" aria-labelledby="aboutusLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="text-center" id="aboutusLabel">درباره من</h3>
				</div><!-- /end modal-header -->

				<div class="modal-body">
					<p></p>
					<p></p>
					<p></p>
				</div><!-- /end modal-body -->

				<div class="modal-footer">
					<ul class="list-inline pull-left social-icons">
						<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
					</ul>
					<button type="button" class="btn btn-cyan" data-dismiss="modal">Close</button>
				</div><!-- /end modal-footer -->

			</div><!-- /end modal-content -->
		</div><!-- /end modal-dialog -->
	</div>
	<!-- /end About Popup Content -->

	<!-- Help Popup Content -->
	<div class="modal fade" id="helpme" tabindex="-1" role="dialog" aria-labelledby="helpmeLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="text-center" id="helpmeLabel">Help</h3>
				</div><!-- /end modal-header -->

				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum similique odio nam perferendis ab, tempore cupiditate maiores quia, sunt rem beatae, ipsum at error! Labore laboriosam rerum odit et ipsum optio explicabo unde. Quod, rem quam totam itaque eius dolorem repudiandae porro eligendi illo quaerat sequi vitae qui. Quibusdam libero a hic odio, aperiam repellat facilis officia, quia maxime minus. Explicabo sequi laudantium qui animi fugiat nihil recusandae, eum sed esse doloremque modi quasi expedita voluptate perspiciatis nulla voluptatem nobis accusamus dolorem libero cumque repellat quam, odit nisi rerum. Quisquam, iure officiis minus quibusdam aut alias accusamus sed incidunt voluptate nisi dolorem, aliquam repellat adipisci vero at</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa impedit, odit numquam perferendis eaque magnam deserunt illo repellendus excepturi, officiis id consequuntur hic voluptatem inventore maxime iure debitis, pariatur porro recusandae. Eaque totam neque sequi beatae, ut accusantium amet eum incidunt nesciunt? Repellat dignissimos sit sequi ratione, possimus. Veritatis ab consequatur praesentium quasi. Illum eos dolorum sapiente cum beatae animi, et accusamus laboriosam repudiandae quidem culpa odit laudantium, reiciendis hic commodi cupiditate magnam aliquam deleniti modi libero! Quisquam possimus maxime maiores perspiciatis dolorum neque modi earum dolores! Ad nobis odit repellat obcaecati, qui, eos, necessitatibus, a est inventore doloremque itaque!</p>
				</div><!-- /end modal-body -->

				<div class="modal-footer">
					<ul class="list-inline pull-left social-icons">
						<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
					</ul>
					<button type="button" class="btn btn-cyan" data-dismiss="modal">Close</button>
				</div><!-- /end modal-footer -->

			</div><!-- /end modal-content -->
		</div><!-- /end modal-dialog -->
	</div>
	<!-- /end Help Popup Content -->

	<!-- Privacy Popup Content -->
	<div class="modal fade" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacyLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="text-center" id="privacyLabel">Privacy</h3>
				</div><!-- /end modal-header -->

				<div class="modal-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum similique odio nam perferendis ab, tempore cupiditate maiores quia, sunt rem beatae, ipsum at error! Labore laboriosam rerum odit et ipsum optio explicabo unde. Quod, rem quam totam itaque eius dolorem repudiandae porro eligendi illo quaerat sequi vitae qui. Quibusdam libero a hic odio, aperiam repellat facilis officia, quia maxime minus. Explicabo sequi laudantium qui animi fugiat nihil recusandae, eum sed esse doloremque modi quasi expedita voluptate perspiciatis nulla voluptatem nobis accusamus dolorem libero cumque repellat quam, odit nisi rerum. Quisquam, iure officiis minus quibusdam aut alias accusamus sed incidunt voluptate nisi dolorem, aliquam repellat adipisci vero at</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa impedit, odit numquam perferendis eaque magnam deserunt illo repellendus excepturi, officiis id consequuntur hic voluptatem inventore maxime iure debitis, pariatur porro recusandae. Eaque totam neque sequi beatae, ut accusantium amet eum incidunt nesciunt? Repellat dignissimos sit sequi ratione, possimus. Veritatis ab consequatur praesentium quasi. Illum eos dolorum sapiente cum beatae animi, et accusamus laboriosam repudiandae quidem culpa odit laudantium, reiciendis hic commodi cupiditate magnam aliquam deleniti modi libero! Quisquam possimus maxime maiores perspiciatis dolorum neque modi earum dolores! Ad nobis odit repellat obcaecati, qui, eos, necessitatibus, a est inventore doloremque itaque!</p>
				</div><!-- /end modal-body -->

				<div class="modal-footer">
					<ul class="list-inline pull-left social-icons">
						<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
					</ul>
					<button type="button" class="btn btn-cyan" data-dismiss="modal">Close</button>
				</div><!-- /end modal-footer -->

			</div><!-- /end modal-content -->
		</div><!-- /end modal-dialog -->
	</div>
	<!-- /end Privacy Popup Content -->

	<!-- Contact Popup Content -->
	<div class="modal fade" id="contactus" tabindex="-1" role="dialog" aria-labelledby="contactusLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="text-center" id="contactusLabel">Contact Us</h3>
				</div><!-- /end modal-header -->

				<div class="modal-body">
					<div class="padding-big text-center contact-form">
						<form id="popup-contact-form" action="index.html" class="clearfix">
							<!-- IF MAIL SENT SUCCESSFULLY -->
							<div class="success">Your message has been sent successfully.</div>
							<!-- IF MAIL SENDING UNSUCCESSFULL
							-->
							<div class="error">E-mail must be valid and message must be longer than 1 character.</div>
							<div class="pull-left form-field field-half-width">
								<input type="text" id="popup_name" name="name" class="form-control" placeholder="Full Name">
								<i class="icofont icofont-user"></i>
							</div>
							<div class="pull-right form-field field-half-width">
								<input type="email" id="popup_email_address" name="email" class="form-control" placeholder="Email Address">
								<i class="icofont icofont-envelope"></i>
							</div>
							<div class="pull-right form-field field-full-width">
								<textarea id="popup_message" name="message" class="form-control" placeholder="Message"></textarea>
							</div>
							<button type="submit" name="submit" id="popup_submit" class="btn btn-cyan btn-big">Send</button>
						</form><!-- /end contact-form -->
					</div><!-- /end contact-form -->
				</div><!-- /end modal-body -->

				<div class="modal-footer">
					<ul class="list-inline pull-left social-icons">
						<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
					</ul>
					<button type="button" class="btn btn-cyan" data-dismiss="modal">Close</button>
				</div><!-- /end modal-footer -->

			</div><!-- /end modal-content -->
		</div><!-- /end modal-dialog -->
	</div>
	<!-- /end Contact Popup Content -->

	<!-- Faq Popup Content -->
	<div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="faqLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="text-center" id="faqLabel">Faq</h3>
				</div><!-- /end modal-header -->

				<div class="modal-body">
					<div class="panel-group" id="faqAccordion">
						<!-- Single faq starts -->
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q-0">
								<h4 class="panel-title">
									<a href="#" class="ing">Q: What is Lorem Ipsum?</a>
								</h4>
							</div>
							<div id="q-0" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
									</p>
								</div>
							</div>
						</div>
						<!-- /Single faq ends -->
						<!-- Single faq starts -->
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q-1">
								<h4 class="panel-title">
									<a href="#" class="ing">Q: Why do we use it?</a>
								</h4>
							</div>
							<div id="q-1" class="panel-collapse collapse">
								<div class="panel-body">
									<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
								</div>
							</div>
						</div>
						<!-- /Single faq ends -->
						<!-- Single faq starts -->
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q-3">
								<h4 class="panel-title">
									<a href="#" class="ing">Q: Where does it come from?</a>
								</h4>
							</div>
							<div id="q-3" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
								</div>
							</div>
						</div>
						<!-- /Single faq ends -->
						<!-- Single faq starts -->
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#q-4">
								<h4 class="panel-title">
									<a href="#" class="ing">Q: Where does it come from?</a>
								</h4>
							</div>
							<div id="q-4" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
								</div>
							</div>
						</div>
						<!-- /Single faq ends -->
					</div><!--/panel-group-->
				</div><!-- /end modal-body -->

				<div class="modal-footer">
					<ul class="list-inline pull-left social-icons">
						<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-dribbble"></i></a></li>
					</ul>
					<button type="button" class="btn btn-cyan" data-dismiss="modal">Close</button>
				</div><!-- /end modal-footer -->

			</div><!-- /end modal-content -->
		</div><!-- /end modal-dialog -->
	</div>
	<!-- /end Faq Popup Content -->

	<!--[if lt IE 8]>
	<script src="js/modernizr-3.5.0.min.js"></script>
	<![endif]-->
	<!-- jQuery -->
	<script src="contact/js/jquery.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="contact/js/bootstrap.min.js"></script>
	<!-- rainyday JS -->
	<script src="contact/js/rainyday.min.js"></script>
	<!-- scripts -->
	<script src="contact/js/scripts.js"></script>
	<script>
		function rain() {
			var image = document.getElementById('rainy-image');
			var parent = document.getElementById('rainy-parent');
			image.onload = function() {
				var engine = new RainyDay({
					image: this,
					parentElement: parent
				});
				engine.rain([ [3, 3, 0.88], [5, 5, 0.9], [6, 2, 1] ], 100);
			};
			image.crossOrigin = 'anonymous';
			image.src = $("#rainy-image").attr("src");
		}
		window.addEventListener("load", rain, false);

		function back(){
			window.history.back();
		}
	</script>

	<script src="js/contactUs.js"></script>

</body>
</html>
