<div class="footer-section section">
    <div class="container">

        <!-- Footer Top Widgets Start -->
        <div class="row">

            <!-- Footer Widget Start -->
            <div class="col-xl-6 col-md-5 col-12 max-mb-50">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">آدرس </h4>
                    <div class="footer-widget-content">
                        <div class="content">
                            <p>ایران - تبریز - سردرود</p>
                            <p>09211225682</p>
                            <p><a href="#">sptamirhoseyn@gmail.com </a></p>
                        </div>
                        <div class="footer-social-inline">
                            <a href="https://twitter.com/amir_hoseynkrkh"><i class="fab fa-twitter"></i></a>
                            <a href="https://t.me/amirhoseyn_khabbazi"><i class="fab fa-telegram"></i></a>
                            <a href="https://www.instagram.com/amirhoseyn__khabbazi"><i class="fab fa-instagram"></i></a>
                            <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-xl-3 col-md-4 col-sm-7 col-12 max-mb-50">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">کاوش کنید</h4>
                    <div class="footer-widget-content">
                        <ul class="column-2">
                            <li><a href="/">شروع کنید </a></li>
                            <!-- <li><a href="#">داستان موفقیت</a></li> -->
                            <!-- <li><a href="#">وبلاگ</a></li> -->
                            <!-- <li><a href="#">دوره ها</a></li> -->
                            <li><a href="/contact-us">درباره ما</a></li>
                            <li><a href="/contact-us">تماس با ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Widget End -->

            <!-- Footer Widget Start -->
            <div class="col-xl-3 col-md-3 col-sm-5 col-12 max-mb-50">
                <div class="footer-widget">
                    <h4 class="footer-widget-title">اطلاعات</h4>
                    <div class="footer-widget-content">
                        <ul>
                            <!-- <li><a href="#">عضو گیر</a></li> -->
                            <li><a href="/purchase_guide">آموزش خرید</a></li>
                            <li><a href="/privacy_policy">حریم خصوصی</a></li>
                            <li><a href="/terms_of_service">شرایط و خدمات ما</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Footer Widget End -->

        </div>
        <!-- Footer Top Widgets End -->

        <!-- Footer Copyright Start -->
        <div class="row max-mt-20">
            <div class="col">
                <p class="copyright">&copy; 1400 کینگ کارپت. <a href="/">تمام حقوق محفوظ است</a></p>
            </div>
        </div>
        <!-- Footer Copyright End -->

    </div>
</div>
