<div id="site-main-mobile-menu" class="site-main-mobile-menu">
    <div class="site-main-mobile-menu-inner">
        <div class="mobile-menu-header">
            <div class="mobile-menu-logo">
                <a href="index.html"><img src="/assets/images/logo.jpg" alt=""></a>
            </div>
            <div class="mobile-menu-close">
                <button class="toggle">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-menu-content">
            <nav class="site-mobile-menu">
                <ul>
                    <li class="position-static">
                        <a href="/"><span class="menu-text">صفحه اصلي</span></a>

                        <!-- <ul class="mega-menu">
                            <li>
                                <ul>
                                    <li><a href="index.html"><span class="menu-text">آموزشی مکس کوچ <span class="badge"> داغ </span></span></a></li>
                                    <li><a href="index-2.html"><span class="menu-text">پورتال دوره</span></a></li>
                                    <li><a href="index-3.html"><span class="menu-text">یادگیری از راه دور <span class="badge"> داغ </span></span></a></li>
                                    <li><a href="index-4.html"><span class="menu-text">آموزش چندرسانه ای</span></a></li>
                                    <li><a href="index-5.html"><span class="menu-text">آموزش مدرن</span></a></li>
                                    <li><a href="index-6.html"><span class="menu-text">آموزش از راه دور</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li><a href="index-7.html"><span class="menu-text">مربیگری بهداشت</span></a></li>
                                    <li><a href="index-8.html"><span class="menu-text">مربیگری بدنسازی</span></a></li>
                                    <li><a href="index-9.html"><span class="menu-text">کسب و کار</span></a></li>
                                    <li><a href="index-10.html"><span class="menu-text">هنر <span class="badge primary">جدید</span></span></a></li>
                                    <li><a href="index-11.html"><span class="menu-text">مربی آشپزخانه <span class="badge primary">جدید</span></span></a></li>
                                    <li><a href="index-12.html"><span class="menu-text">انگیزشی <span class="badge primary">جدید</span></span></a></li>
                                </ul>
                            </li>
                            <li class="menu-item-50">
                                <ul>
                                    <li><a href="#"><img src="assets/images/menu/mega-menu.jpg" alt="menu-image"></a></li>
                                </ul>
                            </li>
                        </ul> -->
                    </li>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">همه محصولات</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="/shop"><span class="menu-text">تابلو فرش</span></a></li>
                            <!-- <li><a href="#"><span class="menu-text">برترين ها</span></a></li> -->
                        </ul>
                    </li>

                    <% if(is_auth=='false' ) { %>
                    <li class="has-children">
                        <a href="#"><span class="menu-text">ورود</span></a>
                        <span class="menu-toggle"><i class="far fa-angle-down"></i></span>
                        <ul class="sub-menu">
                            <li><a href="/buyer/buyerLogin"><span class="menu-text">ورود کاربران</span></a></li>
                            <li><a href="/login"><span class="menu-text">ورود فروشندگان </span></a></li>
                        </ul>
                    </li>
                    <% } %>

                    <li class="">
                        <a href="/brand"><span class="menu-text">برندها</span></a>
                       
                    </li>


                    <li class="">
                        <a href="/contact-us"><span class="menu-text">ارتباطات و درخواست ها</span></a>
                        
                    </li>
                    
                </ul>
            </nav>
        </div>
    </div>
</div>