<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>حریم خصوصی - کینگ کارپت</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-gilroy.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css"> -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->
        <%- include('./header' , {req  , Sbrand :'' , category : '' , card : ''}) %>

        <!-- Header Section End -->

        <!-- Page Title Section Start -->
        <div class="page-title-section section">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">حریم خصوصی</h1>
                </div>
            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li class="current">حریم خصوصی</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Privacy Policy Section Start -->
        <div class="section section-padding-bottom">
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
                        <!-- Privacy Policy Wrapper Start -->
                        <div class="privacy-policy-wrapper">
                            <div class="image">
                                <img src="assets/images/purchase-guide/privacy-policy.jpg" alt="purchase guide">
                            </div>
                            <div class="content">

                                <p>این سیاست حفظ حریم خصوصی برای هر کسی که مربوط به ثبت نام و کاربر وبسایت باشد اعمال میشود.</p>

                                <h3 class="title">در دسترس بودن وب سایت</h3>

                                <p>برای خرید هر محصول یا عضویت در وبسایت ما ، مشتریان ابتدا باید با ارائه اطلاعات زیر با یک حساب شخصی ثبت نام کنند:</p>

                                <ol>
                                    <li>عضو تشخیص می دهد که ترافیک داده ها از طریق اینترنت ممکن است باعث تأخیر شود<br>در هنگام بارگیری اطلاعات از وب سایت و بر این اساس ، وبسایت هیچ گونه مسئولیتی در قبال تاخیرهای معمول در استفاده از اینترنت نخواهد داشت.</li>
                                    <li>علاوه بر این ، عضو تأیید می کند و می پذیرد که وب سایت به دلیل چنین تأخیرهایی یا تأخیرهای ناشی از به روزرسانی ، اصلاح یا نگهداری استاندارد وب سایت از طرف وبسایت ، به طور مداوم و در طول 30 روز هر ماه ممکن است در دسترس نباشد..</li>
                                </ol>

                                <h3 class="title">حقوق مالکیت معنوی</h3>

                                <ol>
                                    <li>محصول آنلاین متعلق به وبسایت و فروشنده است و توسط کپی رایت ، مارک تجاری ، حق ثبت اختراع ، اسرار تجاری و سایر دارایی های معنوی یا قوانین حقوق مالکیت ایران و بین المللی محافظت می شود.</li>
                                    <li>هیچ حق ، عنوان یا علاقه ای به محصول آنلاین یا هر بخشی از آن به هیچ عضو منتقل نمی شود ، و کلیه حقوقی که به طور صریح در آن اعطا نشده است ، توسط وبسایت محفوظ است.</li>
                                    <li>نام وبسایت ، آرم وبسایت و کلیه نام های مرتبط ، آرم ، نام محصول و خدمات ، طرح ها<br>و شعارها ، علائم تجاری وبسایت و فروشندگان هستند. عضو ممکن است از چنین علائمی استفاده نکند<br>بدون اجازه کتبی قبلی وبسایت.</li>
                                    <li>وبسایت کینگ کارپت اطمینان میدهد که اطلاعات خصوصی مشتریان اعم از خرید ها، تاریخچه خرید ها، اطلاعات گرفته شده در ثبت نام و اطلاعات تماس آنها در اختیار شخص ثالث قرار نخواهد گرفت</li>
                                </ol>

                                <h3 class="title">تعهدات وبسایت</h3>

                                <p>این وبسایت از تلاش های تجاری معقولانه ای برای ایجاد امکان دسترسی به محصول آنلاین استفاده خواهد كرد ، مگر در موارد تعمیر و نگهداری برنامه ریزی شده و تعمیرات مورد نیاز ، و به غیر از هرگونه وقفه به دلایلی كه خارج از كنترل منطقی باشد ، یا توسط وبسایت قابل پیش بینی نیست.. </p>

                                <h3 class="title">قانون و مکان حاکم</h3>

                                <ol>
                                    <li>این شرایط خدمات توسط قوانین جمهوری اسلامی ایران تفسیر و اداره می شود.</li>
                                    <li>اگر هر یک از مفاد ، به طور کامل یا جزئی از قرارداد ، نامعتبر یا غیرقابل اجرا باشد ، این به اعتبار بقیه اعتبارات آن نخواهد بود.</li>
                                </ol>

                                <p><strong>تاریخ اجرا: 1400/5/15</strong></p>
                            </div>
                        </div>
                        <!-- Privacy Policy Wrapper End -->
                    </div>

                    <div class="col-lg-4 col-12 order-lg-1 max-mb-50">
                        <div class="sidebar-widget-wrapper">
                            <div class="sidebar-widget">
                                <div class="sidebar-widget-content">
                                    <ul class="sidebar-widget-menu">
                                        <li><a href="/purchase_guide">راهنمای خرید</a></li>
                                        <li><a class="active" href="">حریم خصوصی</a></li>
                                        <li><a href="/terms_of_service">شرایط استفاده از خدمات</a></li>
                                    </ul>
                                </div>
                            </div>

                          
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Privacy Policy Section End -->

        <%- include('./footer' ) %>

        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

    <%- include('./mobileHeader' , {req}) %>

    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>





</body>


</html>