<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>راهنمای خرید- کینگ کارپت</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-gilroy.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css"> -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->
        <%- include('./header' , {req  , Sbrand :'' , category : '' , card : ''}) %>

        <!-- Header Section End -->

        <!-- Page Title Section Start -->
        <div class="page-title-section section">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">راهنمای خرید</h1>
                </div>
            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li class="current">راهنمای خرید</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Purchase Guide Section Start -->
        <div class="section section-padding-bottom">
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
                        <!-- Purchase Guide Wrapper Start -->
                        <div class="purchase-guide-wrapper">
                            <div class="image">
                                <img src="assets/images/purchase-guide/purchase-guide.jpg" alt="purchase guide">
                            </div>
                            <div class="content">
                                <h3 class="title">ارز پذیرفته شده</h3>

                                <p>تمام قیمت های محصولات به ریال ایران است. ما عمدتا پرداخت به ریال ایران را می پذیریم ، در عین حال ارزهای اصلی دیگر نیز به زودی ممکن خواهد شد اما مبلغ کل براساس نرخ ارز هدفمند و سیاست های مالیاتی هر کشور متفاوت خواهد بود. </p>

                                <h3 class="title">ثبت نام حساب</h3>

                                <p>برای خرید هر محصول یا عضویت در سایت ما ، مشتریان ابتدا باید با ارائه اطلاعات زیر با یک حساب شخصی ثبت نام کنند:</p>

                                <ul>
                                    <li>نام (ضروری)</li>
                                    <li>نام خانوادگی (ضروری)</li>
                                    <li>شماره موبایل (ضروری)</li>
                                    <li>آدرس (ضروری)</li>
                                    <li>رمز عبور (ضروری)</li>
                                </ul>

                                <h3 class="title">سیاست عضویت</h3>

                                <p>پس از ثبت موفقیت در عضویت در سایت ما ، کاربران می توانند در هر زمان به حساب خود وارد شوند. هنگامی که آنها یک محصول را خریداری می کنند ، امتیاز آنها به حساب آنها اعتبار داده می شود. این امتیازات برای رتبه بندی کاربران در میان سیستم عضویت ما جمع می شود. هر سطح با امتیازات و تخفیف های مختلف پاداش می گیرد. </p>


                                <h3 class="title">چگونه یک محصول خریداری کنیم؟</h3>

                                <p>بر روی دکمه خرید افزودن به سبد خرید کلیک کنید ، سپس میتوانید با مراجعه به سبد خرید بر روی دکمه پرداخت کلیک کنید و پس از پرداخت فاکتور خرید شما صادر میشود. </p>

                                <h3 class="title">کارتهای اعتباری پذیرفته شده</h3>

                                <ul>
                                    <li>همه کارت های بانک های داخلی</li>
                                    <li>مستر کارت (به زودی)</li>
                                    <li>ویزا و پی پال (به زودی)</li>
                                </ul>

                                <p><em>*مالیات توسط بانک محلی و مکان شما محاسبه می شود.</em></p>

                                <h3 class="title">چرا محصول خود را بخریم؟</h3>

                                <ul>
                                    <li>محتوای به روز شده به طور منظم</li>
                                    <li>پرداخت امن و بدون دردسر</li>
                                    <li>پرداخت با یک کلیک</li>
                                    <li>دسترسی آسان و داشبورد کاربر هوشمند</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Purchase Guide Wrapper End -->
                    </div>

                    <div class="col-lg-4 col-12 order-lg-1 max-mb-50">
                        <div class="sidebar-widget-wrapper">
                            <div class="sidebar-widget">
                                <div class="sidebar-widget-content">
                                    <ul class="sidebar-widget-menu">
                                        <li><a class="active" href="">راهنمای خرید</a></li>
                                        <li><a href="/privacy_policy">حریم خصوصی</a></li>
                                        <li><a href="/terms_of_service">شرایط استفاده از خدمات</a></li>
                                    </ul>
                                </div>
                            </div>

                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Purchase Guide Section End -->

        <%- include('./footer' ) %>


        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>

    <%- include('./mobileHeader' , {req}) %>


    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>





</body>


</html>