<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>شرایط استفاده از خدمات - کینگ کارپت</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!-- <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome-pro.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-gilroy.css"> -->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css">
    <link rel="stylesheet" href="assets/css/plugins/ion.rangeSlider.min.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe.css">
    <link rel="stylesheet" href="assets/css/plugins/photoswipe-default-skin.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/slick.css"> -->

    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">

</head>

<body>

    <div id="page">
        <!-- Header Section Start -->
        <%- include('./header' , {req  , Sbrand :'' , category : '' , card : ''}) %>

        <!-- Header Section End -->

        <!-- Page Title Section Start -->
        <div class="page-title-section section">
            <div class="page-title">
                <div class="container">
                    <h1 class="title">شرایط استفاده از خدمات</h1>
                </div>
            </div>
            <div class="page-breadcrumb">
                <div class="container">
                    <ul class="breadcrumb">
                        <li><a href="/">صفحه اصلی</a></li>
                        <li class="current">شرایط استفاده از خدمات</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Page Title Section End -->

        <!-- Terms of Service Section Start -->
        <div class="section section-padding-bottom">
            <div class="container">
                <div class="row max-mb-n50">

                    <div class="col-lg-8 col-12 order-lg-2 max-mb-50">
                        <!-- Terms of Service Wrapper Start -->
                        <div class="terms-of-service-wrapper">
                            <div class="image">
                                <img src="assets/images/purchase-guide/terms-of-service.jpg" alt="purchase guide">
                            </div>
                            <div class="content">

                                <h3 class="title">وب سایت ما</h3>

                                <p>آدرس وب سایت ما: https://www.kingCarpet.com</p>

                                <h3 class="title">تعاریف اصطلاحات اساسی ، حقوق و محدودیت ها:</h3>

                                <h4>قوانین اصلی</h4>

                                <p>با ثبت نام در سایت شما شرایط تجارت در جایگاه خریدار را که در زیر به آنها اشاره شده است را پذیرفته اید. این شرایط خدمات پلتفرم کینگ کاپت یک قرداد الزام آور برای مشتری و پلتفرم میباشد </p>
                                <h4>حقوق و محدودیت ها</h4>

                                <ol>
                                    <li>توجه داشته باشید کلیه اصول و رویه‏‌های کینگ کارپت منطبق با قوانین جمهوری اسلامی ایران، قانون تجارت الکترونیک و قانون حمایت از حقوق مصرف کننده است و متعاقبا کاربر نیز موظف به رعایت قوانین مرتبط با کاربر است. در صورتی که در قوانین مندرج، رویه‏‌ها و سرویس‏‌های کینگ کارپت تغییراتی در آینده ایجاد شود، در همین صفحه منتشر و به روز رسانی می شود و شما توافق می‏‌کنید که استفاده مستمر شما از سایت به معنی پذیرش هرگونه تغییر است.</li>
                                    <li>اطلاعات شما باید ماننده شماره تلفن و آدرس باید دقیق و کامل باشد (اطلاعات شما در اختیار شخص ثالث قرار نمیگیرد).</li>
                                    <li>مشتری یا کاربر به شخصی گفته می‌شود که با اطلاعات کاربری خود که در فرم ثبت‌نام درج کرده است، به ثبت سفارش یا هرگونه استفاده از خدمات کینگ کارپت اقدام کند.</li>
                                    <li>همچنین از آنجا که کینگ کارپت یک وب‌سایت خرده‌فروشی آنلاین است، طبق قانون تجارت الکترونیک مشتری یا مصرف کننده هر شخصی است که به منظوری جز تجارت یا شغل حرفه‌ای به خرید کالا یا خدمات اقدام می‌کند.</li>
                                </ol>
                            </div>
                        </div>
                        <!-- Terms of Service Wrapper End -->
                    </div>

                    <div class="col-lg-4 col-12 order-lg-1 max-mb-50">
                        <div class="sidebar-widget-wrapper">
                            <div class="sidebar-widget">
                                <div class="sidebar-widget-content">
                                    <ul class="sidebar-widget-menu">
                                        <li><a href="/purchase_guide">راهنمای خرید</a></li>
                                        <li><a href="/privacy_policy">حریم خصوصی</a></li>
                                        <li><a class="active" href="">شرایط استفاده از خدمات</a></li>
                                    </ul>
                                </div>
                            </div>

                            <!-- <div class="sidebar-widget">
                                <h3 class="sidebar-widget-title">دوره های اخیر</h3>
                                <div class="sidebar-widget-content">
                                    <ul class="sidebar-widget-course">
                                        <li class="widget-course">
                                            <div class="thumbnail">
                                                <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-1.jpg" alt="تصویر دوره"></a>
                                            </div>
                                            <div class="info">
                                                <span class="price">40000 تومان<span> </span></span>
                                                <h6 class="title"><a href="course-details-sticky-feature-bar.html">یادگیری نوشتن به عنوان یک نویسنده حرفه ای</a></h6>
                                            </div>
                                        </li>
                                        <li class="widget-course">
                                            <div class="thumbnail">
                                                <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-2.jpg" alt="تصویر دوره"></a>
                                            </div>
                                            <div class="info">
                                                <span class="price">رایگان</span>
                                                <h6 class="title"><a href="course-details-sticky-feature-bar.html">مشتری مداری استراتژی های فناوری اطلاعات</a></h6>
                                            </div>
                                        </li>
                                        <li class="widget-course">
                                            <div class="thumbnail">
                                                <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-3.jpg" alt="تصویر دوره"></a>
                                            </div>
                                            <div class="info">
                                                <span class="price">19000 تومان<span> </span></span>
                                                <h6 class="title"><a href="course-details-sticky-feature-bar.html">دوره های برنامه نویسی باز برای همه: پایتون</a></h6>
                                            </div>
                                        </li>
                                        <li class="widget-course">
                                            <div class="thumbnail">
                                                <a href="course-details-sticky-feature-bar.html" class="image"><img src="assets/images/courses/170/course-4.jpg" alt="تصویر دوره"></a>
                                            </div>
                                            <div class="info">
                                                <span class="price">26000 تومان<span> </span></span>
                                                <h6 class="title"><a href="course-details-sticky-feature-bar.html">گوش دادن و یادداشت برداری آکادمیک</a></h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Terms of Service Section End -->

        <%- include('./footer' ) %>


        <!-- Scroll Top Start -->
        <a href="#" class="scroll-top" id="scroll-top">
            <i class="arrow-top fal fa-long-arrow-up"></i>
            <i class="arrow-bottom fal fa-long-arrow-up"></i>
        </a>
        <!-- Scroll Top End -->
    </div>
    <%- include('./mobileHeader' , {req}) %>


    <!-- JS
============================================ -->

    <!-- Vendors JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.1.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script> -->

    <!-- Plugins JS -->
    <!-- <script src="assets/js/plugins/parallax.min.js"></script>
<script src="assets/js/plugins/jquery.ajaxchimp.min.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main Activation JS -->
    <script src="assets/js/main.js"></script>





</body>


</html>